.red {
  color: red;
}

.red:hover {
  color: black;
}

#blue {
  color: blue;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: gray;
  flex: 1;
}

.button {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.button:hover {
  background-color: #dedede;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  .red {
    color: pink;
  }

  .center {
    background-color: green;
  }
}
